name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build release (retry)
        run: |
          npm run dist -- --publish=always || npm run dist -- --publish=always
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CSC_IDENTITY_AUTO_DISCOVERY: "false"
          ELECTRON_GET_USE_PROXY: "true"
          ELECTRON_GET_USE_PROXY_FOR_HTTPS: "true"
          ELECTRON_MIRROR: "https://github.com/electron/electron/releases/download/"
